/* =============================================================================

This file should be renamed to "credentials.h" and the values for the SSID and
password should be replaced with their actual values.

============================================================================= */

#ifndef CREDENTIALS_H
#define CREDENTIALS_H

#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"
#endif